.container {
  display: flex;
  justify-content: center;
  align-items: center;   
  height: 100vh;  
}

.box {
  padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: auto; 
}

.avatarContainer {
  margin-right: 16px;
  margin-bottom: auto;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.infoContainer {
  flex: 1;
}

.username {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.bio {
  margin-top: 8px;
  font-size: 1rem;
  color: #666;
}
